In [1]:
import pandas as pd

df = pd.read_json("C:/Users/ricca/OneDrive/Documents/Università/CatanGNN-AI/json/game.json")
df

,places,edges,globals
0,"{'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, ...","{'place_1': [0, 0, 1, 2, 2, 3, 4, 4, 5, 6, 7, ...","{'player_id': 1, 'victory_points': 1, 'used_kn..."
1,"{'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, ...","{'place_1': [0, 0, 1, 2, 2, 3, 4, 4, 5, 6, 7, ...","{'player_id': 2, 'victory_points': 1, 'used_kn..."
2,"{'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, ...","{'place_1': [0, 0, 1, 2, 2, 3, 4, 4, 5, 6, 7, ...","{'player_id': 3, 'victory_points': 1, 'used_kn..."
3,"{'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, ...","{'place_1': [0, 0, 1, 2, 2, 3, 4, 4, 5, 6, 7, ...","{'player_id': 4, 'victory_points': 1, 'used_kn..."
4,"{'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, ...","{'place_1': [0, 0, 1, 2, 2, 3, 4, 4, 5, 6, 7, ...","{'player_id': 4, 'victory_points': 2, 'used_kn..."
...,...,...,...
19660,"{'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, ...","{'place_1': [0, 0, 1, 2, 2, 3, 4, 4, 5, 6, 7, ...","{'player_id': 4, 'victory_points': 8, 'used_kn..."
19661,"{'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, ...","{'place_1': [0, 0, 1, 2, 2, 3, 4, 4, 5, 6, 7, ...","{'player_id': 1, 'victory_points': 4, 'used_kn..."
19662,"{'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, ...","{'place_1': [0, 0, 1, 2, 2, 3, 4, 4, 5, 6, 7, ...","{'player_id': 2, 'victory_points': 4, 'used_kn..."
19663,"{'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, ...","{'place_1': [0, 0, 1, 2, 2, 3, 4, 4, 5, 6, 7, ...","{'player_id': 3, 'victory_points': 2, 'used_kn..."
19664,"{'id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, ...","{'place_1': [0, 0, 1, 2, 2, 3, 4, 4, 5, 6, 7, ...","{'player_id': 4, 'victory_points': 10, 'used_k..."